@require '../../assets/styles/bootstrap-defaults'

service-input
	.has-feedback
		.form-control-feedback
			right 45px

	.has-error
	.has-warning
	.has-success
		.form-control
			border-color $input-border
