@require '../assets/styles/bootstrap-defaults'
@require '../assets/styles/colors'

capabilities-indicator
	ul
		padding 0

		list-style-type none

		li.btn
			margin 5px
			margin-top 0
			padding 0 5px

			pointer-events none

			label
				margin-bottom 0

			input[type=checkbox]
				position absolute

				clip rect(0, 0, 0, 0)

				pointer-events none

		li.btn-success
			border-color darken($primary-color, 5%)
			background-color $primary-color

		li.btn-danger
			color $gray-light
			border-color darken($gray, 5%)
			background-color $gray
