<template bindable="router">
	<require from="./nav-bar.css"></require>
	<require from="./nav-bar/github-corner.html"></require>

	<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a repeat.for="row of router.navigation" show.bind="!row.isActive" class="navbar-toggle" title="${row.title}" href.bind="row.href">
					<i class="fa ${row.settings.icon}"></i>
				</a>
				<a class="navbar-brand" href="https://github.com/thollingshead/arcgis-server-store">ArcGIS Server Store</a>
				<github-corner href="https://github.com/thollingshead"></github-corner>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse">
				<ul class="nav navbar-nav navbar-right nav-pills">
					<li role="presentation"><a href="https://git.io/vKeaS">Docs</a></li>
				</ul>
			</div>
		</div>
	</nav>
</template>
