@require '../assets/styles/bootstrap-defaults'
@require '../assets/styles/colors'

nav-bar
	user-select none

	.navbar
		.container-fluid
			button.navbar-toggle
				margin-right $navbar-height

			a.navbar-toggle
				line-height 34px

				width 44px
				height 34px
				padding 0

				text-align center

				color $white

	.nav-pills
		> li
			float none

	.navbar-default
		.navbar-brand
			&:hover
				color $primary-color

		.navbar-nav
			> li
				> a
					color $navbar-default-brand-color

	.navbar-inverse
		.navbar-brand
			color $primary-color

			&:hover
				color $navbar-inverse-brand-color

		.navbar-nav
			> li
				> a
					color $primary-color

@media (min-width: $screen-sm)
	nav-bar
		.navbar
			.container-fluid
				margin-right $navbar-height
