<template>
	<require from="./store-settings.css"></require>
	<require from="./store-settings/service-input"></require>
	<require from="./store-settings/capabilities-indicator"></require>
	<require from="./store-settings/id-selector.html"></require>
	<require from="./store-settings/field-selector"></require>
	<require from="./store-settings/geometry-toggle"></require>

	<div class="store-settings">
		<form>
			<service-input service.two-way="service" url.two-way="settings.url"></service-input>
			<capabilities-indicator show.bind="!!service.capabilities & signal: 'service'" capabilities.bind="service.capabilities.split(',') & signal: 'service'"></capabilities-indicator>
			<id-selector show.bind="!!service.fields & signal: 'service'" fields.bind="service.fields & signal: 'service'" id-property.two-way="settings.idProperty"></id-selector>
			<field-selector show.bind="!!service.fields & signal: 'service'" fields.bind="service.fields & signal: 'service'" out-fields.two-way="settings.outFields"></field-selector>
			<geometry-toggle if.bind="!!service.geometryType & signal: 'service'" return-geometry.two-way="settings.returnGeometry"></geometry-toggle>
		</form>

		<span if.bind="!!settings.idProperty & signal: 'service'" class="visible-xs-block">
			All done? Use the demo button (<i class="fa fa-laptop"></i>) to see the store in action.
		</span>
	</div>
</template>
