@require '../assets/styles/button-variant'
@require '../assets/styles/colors'

store-settings
.store-settings
	color $primary-color

	label
		user-select none
		white-space nowrap

	ul
		padding 0

		list-style-type none

		li.btn
			margin 5px
			padding 0 5px

			label
				margin-bottom 0

			input[type=checkbox]
				position absolute

				clip rect(0, 0, 0, 0)

				pointer-events none

		li.btn-success
			button-variant($white, $primary-color, darken($primary-color, 5%))

		li.btn-danger
			button-variant($gray-light, $gray, darken($gray, 5%))

	.bootstrap-switch
		border-color darken($gray, 5%)

		&.bootstrap-switch-on
			&.bootstrap-switch-focused
			&:focus
				border-color darken(darken($gray, 5%), 25%)
				outline none
				box-shadow none

		&.bootstrap-switch-off
			&.bootstrap-switch-focused
			&:focus
				border-color darken(darken($gray, 5%), 25%)
				outline none
				box-shadow none

		&.bootstrap-switch-indeterminate
			.bootstrap-switch-label
				border-radius 3px

		.bootstrap-switch-container
			.bootstrap-switch-handle-on
				background-color $primary-color

			.bootstrap-switch-handle-off
				color $gray-light
				background-color $gray
