@require './assets/styles/bootstrap-defaults'
@require './assets/styles/colors'

body
	padding-top $navbar-height


.main
.sidebar
	position fixed
	top $navbar-height
	right 0
	bottom 0
	left 0

	overflow-y auto

	padding-top 20px
	padding-bottom 20px

.sidebar
	display none

	background-color $sidebar-bg

@media (min-width: $screen-sm)
	.sidebar
		display block
