// colors
$gray-base = #000
$gray-light = lighten($gray-base, 46.7%)

// navbar
$navbar-height = 50px
$navbar-default-bg = #f8f8f8
$navbar-default-link-color = #777
$navbar-default-brand-color = $navbar-default-link-color

// inverted navbar
$navbar-inverse-bg = #222
$navbar-inverse-link-color = lighten($gray-light, 15%)
$navbar-inverse-brand-color = $navbar-inverse-link-color
