button-variant(color, background, border)
	color color
	border-color border
	background-color background

	&:focus
	&.focus
		color color
		border-color darken(border, 25%)
		background-color darken(background, 10%)

	&:hover
	&.hover
		color color
		border-color darken(border, 10%)
		background-color darken(background, 10%)

	&:active
	&.active
		color color
		border-color darken(border, 12%)
		background-color darken(background, 10%)

		&:focus
		&.focus
		&:hover
			color color
			border-color darken(border, 25%)
			background-color darken(background, 17%)
